<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas|Save</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="/images/Captura de pantalla 2024-02-16 030656.png">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-stone-600">
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen bg-cover bg-center p-2"
        style="background-image: url('/images/jay-heike-Ho-QHf3kqIc-unsplash copy.jpg');">
        <!-- Fondo negro con opacidad -->
        <div class="absolute top-0 w-full h-full bg-black opacity-75"></div>
        <div class="container mx-auto p-8 w-full flex flex-col md:flex-row">
            <!-- Contenedor de las citas -->
            <div id="citas-container" class="text-slate-100 md:w-2/5 w-full md:pl-10 relative"> <!-- Añadido 'relative' -->
                <!-- Aquí puedes colocar el contenido de las citas -->
                <h2 class="text-xl font-semibold mb-4">Cita agendada</h2>
                <!-- Ejemplo de una cita -->
                
                <!-- Fin del ejemplo -->
            </div>
        </div>
    </div>
</body>
<script src="index.js"></script>
</body>
</html>